body {
	font: 1em Arial;
	margin: 0;
}
.container {
	width: 900px;
	margin: auto;
	text-align: center;
}
canvas {
	border: 10px solid #eee;
}
h1 {
	background: #eee;
	padding: 5px;
	text-align: center;
}
h3 {
	border-bottom: 1px solid #888;
}
.main {
	width: 650px;
	display: inline-block;
	float: left;
}
.side {
	width: 250px;
	display: inline-block;
	float: left;
	text-align: left;
}

input:disabled {
	background: #ddd;
}
.btn, input[type=button] {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	text-align: center;
	padding: 7px 8px;
	background: #0F53DD;
	border: 0;
	cursor: pointer;
}
.btn:hover {
	background: #2d72ff;
}
#btn-download {
	display: block;
	padding: 10px;
	background: forestgreen;
}
#btn-download:hover {
	background: rgb(71, 192, 71);
}